@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.mobile-headings {
  @apply text-3xl uppercase font-bold;
}

.mobile-list {
  @apply border-l-2 border-gray-500 ml-5 pl-5 py-2 mt-2 capitalize;
}

.link-item{
  @apply hover:text-[#a5652a] transition-all duration-300 ease-in-out !important;
}



.caption-section {
  background: -webkit-gradient(linear,right top,left top,from(#666),to(#000));
  background: linear-gradient(270deg,#666,#000);
  padding-bottom: 50px;
}

.filter-container {
    background-image: linear-gradient(143deg,#A18830,#A18830);
    box-shadow: 0 2px 55px rgba(0,0,0,.11);
    padding: 20px;
}


.all-select {
  /* -webkit-appearance: none;
  appearance: none; */
    background-color: hsla(44,45%,66%,.49);
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    padding: 0 9px;
    width: 100%;
  word-wrap: normal;
  outline: none;
  height: 30px;
  position: relative;
}

.all-select::after {
  color: #fff;
  content: ">";
  text-align: left;
  font: 20px Consolas,monospace;
  padding: 0 0 2px;
  pointer-events: none;
  position: absolute;
  right: 13px;
  top: 6px;
  transform: rotate(90deg);
}

.bg-founders {
  background-image: url(../public/founders.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}



/* theses styles are for the penthouse/page.js folder */

.banner-container {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.banner-image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle-item {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.banner-container:hover .banner-image {
  opacity: 0.3;
}

.banner-container:hover .middle-item {
  opacity: 1;
}

.text-item {
  background-color: #A18830;
  color: white;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 16px 32px;
}

p {
  text-align: justify;
}

.bg-founders-image {
  background-image: url("/public/founders.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-clip {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* height: calc(100vh - 3rem); */
  /* object-fit: cover; */
}

.indexing {
  z-index: 9999;
}

.secondindexing {
  z-index: 999;
}


/* Apply default styles for all browsers */
/* .scroller {
  width: 300px;
  height: 100px;
  overflow-y: scroll;
} */

/* Apply styles only for Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .scroller {
    scrollbar-color: #A18830 white;
  }
 .scroller::-webkit-scrollbar {
    width: 5px; /* Adjust the width as needed */
  }
  .scroller::-webkit-scrollbar-thumb {
    background-color: #A18830;
  }
 .scroller::-webkit-scrollbar-track {
    background-color: white;
  }
}